@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: #FDC700;
  --error: #FF6467;

  --nav-height: 84px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-error: var(--error);

  --height-nav-height: var(--nav-height);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111111;
    --foreground: #ededed;
  }
}

@theme {
  --animate-flash: flash 1s infinite;
  --animate-jiggle: jiggle .2s ease-in-out;

  @keyframes flash {
    50% {
      opacity: 0;
    }
  };

  @keyframes jiggle {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(5px);}
    50% { transform: translateX(-1px);}
    75% { transform: translateX(2px);}
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}